.home{
    background-image: url("https://cdn.pixabay.com/photo/2015/04/19/08/32/marguerite-729510__340.jpg");
    height: 600px;
    text-align: center;
padding: 50px;
}
.home h1{
    color:darkslateblue;
}
.home p {
    color:darkred;
    margin-top: 50px;
    margin-bottom:50px ;
    margin-left: 50px;
    margin-right:50px ;
    padding:5px ;

}
.home a{
border:25px;
}

.home_txt {
    padding-top: 50px;
    margin-top: 50px;
    /* padding: 50px; */
    border: 5px solid gray;
    border-radius: 50px;
}
.Explore {
    border-radius: 50px;
}
.startups{
    text-align: center;
    text-decoration: underline;
    
}
.gallery img{
    width: 300px;
}

.teams img {
     width:50px;
     height: 50px;
}
.card-img-top{
    height:250px ;
    width:auto;
    padding: 30px;
}
.name{
    text-align: center;
}
